@import '../../../style/variable.styl'

$aside-width = 200px
$aside-collapse-width = 65px
$header-height = 60px
$right-margin = 20px

.admin-container
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  >
    .header
      height $header-height
      line-height @height
      padding-left 0
      display flex
      > .action-bar
        flex 1
    .body
      position relative
      overflow hidden
      >
        .aside
          overflow hidden // for bscroll
          >>> .el-menu-vertical:not(.el-menu--collapse)
            width $aside-width
        .center-wrapper >
          .tabs-wrapper
            padding 0
            margin-right $right-margin
          .main
            position relative
            padding 0
            > .page-wrapper
              position absolute
              top 0
              left 0
              right $right-margin
              overflow-x hidden
  &.flat >
    .body >
      .aside
        position absolute
        z-index 2000
        top 0
        bottom 0
        background #ecf1f6
        border-right 1px solid #cfd7e5
        border-top 1px solid #cfd7e5
        border-top-right-radius 4px
      .center-wrapper >
        .tabs-wrapper
          margin-right 0
        .main > .page-wrapper
          right 0
  &.flat.collapse >
    .body >
      .aside
        margin-left - $aside-collapse-width
  &.flat:not(.tabs)
    .body >
      .aside
        border-top-right-radius 0

.fade-transverse
  &-leave-active
  &-enter-active
    transition-property opacity transform
    transition-duration .3s
    transition-timing-function ease-out
  &-enter
    opacity 0
    transform translateX(-$right-margin)
  &-leave-to
    opacity 0
    transform translateX($right-margin)
