@import '../../../style/variable.styl'

$aside-width = 200px
$header-height = 60px
$right-margin = 20px

.admin-container
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  .header
    height $header-height
    line-height @height
    padding-left 0
    display flex
    .action-bar
      flex 1
  .body
    overflow hidden
  .aside
    >>> .el-menu-vertical:not(.el-menu--collapse)
      width $aside-width
  .tabs-wrapper
    padding 0
    margin-right $right-margin
  .main
    position relative
    padding 0
    .page-wrapper
      position absolute
      top 0
      left 0
      right $right-margin
      bottom 0
      overflow auto

.fade-transverse
  &-leave-active
  &-enter-active
    transition-property opacity transform
    transition-duration .3s
    transition-timing-function ease-out
  &-enter
    opacity 0
    transform translateX(-$right-margin)
  &-leave-to
    opacity 0
    transform translateX($right-margin)
