body
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size 15px
  color #1a1a1a
  background #f6f6f6
  -webkit-tap-highlight-color rgba(26,26,26,0)

.banner-container
  display flex
  flex-direction column
  align-items center
  height 40vh
  padding 10vh 10px
