.skin--d2-classics
  color #606266
  background #ebf1f6
  .el-button--text
    color #606266
    &:hover
      color #2f74ff
  .container
    .aside
      .menu
        border none
        color #e2ebff54
        background transparent
        .menu-toggle
          background transparent
          i
            color #606266
        i
          color #606266
        &.el-menu-vertical
          .el-menu-item
          .el-submenu__title
          .el-submenu__title .el-submenu__icon-arrow
            color #606266
          .el-menu-item-group__title
            color #ffffff59
          .el-menu-item:not(.menu-toggle):focus
          .el-menu-item:not(.menu-toggle):hover
          .el-submenu__title:hover
          .el-menu--inline
            background-color transparent
          .el-menu-item:not(.menu-toggle).is-active
            color #606266
            & i
              color #2f74ff
          .el-menu-item:not(.menu-toggle)
          .el-submenu__title
            height 56px
            line-height 56px
          .el-menu-item:not(.menu-toggle):hover
          .el-menu-item:not(.menu-toggle).is-active
            background #ffffff80
            color #2f74ff
    .body
      border 1px solid #cfd7e5
      border-top-left-radius 5px
      border-top-right-radius 5px
      margin-right 20px
      background #fff
