$text-color-primary=#606266
$text-color-light=#8590abde
$text-color-highlight=#2f74ff
$background-color=#ebf1f6
$background-color-light=#fff
$border-color=#cfd7e5
$background-active=#ffffff80

.skin--d2-classics
  color $text-color-primary
  background $background-color
  .el-button--text
    color $text-color-primary
    &:hover
      color $text-color-highlight
  .container
    .aside
      .menu
        border none
        background transparent
        .menu-toggle
          background transparent
          i
            color $text-color-primary
        i
          transition color .28s
        &.el-menu-vertical
          .el-menu-item
          .el-submenu__title
          .el-submenu__title .el-submenu__icon-arrow
            color $text-color-primary
          .el-menu-item-group__title
            color $text-color-light
          .el-menu-item:not(.menu-toggle):focus
          .el-menu-item:not(.menu-toggle):hover
          .el-submenu__title:hover
          .el-menu--inline
            background-color transparent
          .el-menu-item:not(.menu-toggle).is-active
          .el-menu-item:hover
            color $text-color-primary
            & i
              color $text-color-highlight
          & > .el-menu-item:not(.menu-toggle)
          .el-submenu__title
            height 56px
            line-height 56px
          .el-menu-item:not(.menu-toggle):hover
          .el-menu-item:not(.menu-toggle).is-active
            background $background-active
            transition background .28s
            color $text-color-highlight
    .body
      border 1px solid $border-color
      border-top-left-radius 5px
      border-top-right-radius 5px
      margin-right 10px
      background $background-color-light
    .body-ghost
      margin-right 10px
      flex unset