.skin--monroe
  color #fff
  background rgb(95,103,118)
  background linear-gradient(90deg, rgba(95,103,118,1) 0%, rgba(62,68,83,1) 100%)
  .el-button--text
    color #ff6600
  .container
    .aside
      .menu
        border-right 1px solid #6c7281
        color #e2ebff54
        background transparent
        .menu-toggle
          background transparent
          i
            color #fff
        i
          color #ffffff94
        &.el-menu-vertical
          .el-menu-item
          .el-submenu__title
          .el-submenu__title .el-submenu__icon-arrow
            color #ffffff94
          .el-menu-item-group__title
            color #ffffff59
          .el-menu-item:not(.menu-toggle):focus
          .el-menu-item:not(.menu-toggle):hover
          .el-submenu__title:hover
          .el-menu--inline
            background-color transparent
          .el-menu-item:not(.menu-toggle).is-active
            color #fff
            & i
              color #fff
          .el-menu-item:not(.menu-toggle)
          .el-submenu__title
            height 56px
            line-height 56px
          .el-menu-item:not(.menu-toggle):hover
          .el-menu-item:not(.menu-toggle).is-active
            background #0e0e0e17
          .el-menu-item:not(.menu-toggle).is-active::before
            content ''
            position absolute
            left 0
            top 0
            bottom 0
            width 3px
            background #ff6600
