.skin--thanos
  background #fff
  .container
    .aside
      .menu
        border none
        background rgb(72,79,87)
        background linear-gradient(180deg, rgba(72,79,87,1) 0%, rgba(34,37,42,1) 100%)
        color #e2ebff54
        .menu-toggle
          background transparent
          i
            color #fff
        i
          color #ffffff94
        &.el-menu-vertical
          .el-menu-item
          .el-submenu__title
          .el-submenu__title .el-submenu__icon-arrow
            color #ffffff94
          .el-menu-item-group__title
            color #ffffff59
          .el-menu-item:not(.menu-toggle):focus
          .el-menu-item:not(.menu-toggle):hover
          .el-submenu__title:hover
          .el-menu--inline
            background-color transparent
          .el-menu-item:not(.menu-toggle).is-active
            color #fff
            & i
              color #fff
          .el-menu-item:not(.menu-toggle)
          .el-submenu__title
            height 56px
            line-height 56px
          .el-menu-item:not(.menu-toggle):hover
          .el-menu-item:not(.menu-toggle).is-active
            box-shadow 0 0px 10px 0px #23232396
            background rgb(105,118,233)
            background linear-gradient(90deg, rgba(105,118,233,1) 0%, rgba(84,94,204,1) 100%)
    .header
      background #fff
