/* d2-classic */
body[data-admin-theme='d2-classic']
  .layout-wrapper > .layout-main > .tabs-wrapper
    .tabs
      color #606266
      .tabs-inner
        .el-tabs >
          .el-tabs__header
            border-color #cfd7e5
            .el-tabs__nav
            .el-tabs__item
              color inherit
              border-color #cfd7e5
              background #e5e9ee
            .el-tabs__item
              &.is-active
                color #2f74ff
                border-bottom none
                background #ffffff
              &:not(.is-active)
                &:hover, &:active
                  color inherit
    .controller
      position relative
      bottom -1px
      .el-dropdown
        .el-button
          border-color #cfd7e5

/* dark */
body[data-admin-theme='dark']
  .layout-wrapper > .layout-main > .tabs-wrapper
    .tabs
      color #F6F4F2
      .tabs-inner
        .el-tabs >
          .el-tabs__header
            border-color #000
            .el-tabs__nav
            .el-tabs__item
              color #606266
              border-color #000
              background #1e1d1c
            .el-tabs__item
              &.is-active
                color #2f74ff
                border-bottom none
                background #252423
              &:not(.is-active)
                &:hover, &:active
                  color inherit
    .controller
      position relative
      bottom -1px
      .el-dropdown
        .el-button
          color #606266
          border-color #000
          background #1e1d1c
        .el-dropdown__caret-button.el-button--default::before
          background #000
