body
  font-family Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif

/* d2-classic */
body[data-admin-theme='d2-classic']
  color #303133
  background #ecf1f6

/* dark */
body[data-admin-theme='dark']
  color #F6F4F2
  background #1e1d1c
