$primary-color = #589ff8

$foreground-color = #2f74ff

$primary-text-color = #303133
$regular-text-color = #606266
$secondary-text-color = #909399
$placeholder-text-color = #C0C4CC

$border-base-color = #cfd7e5

$background-white-color = #ffffff
$background-thin-color = #ecf1f6
$background-solid-color = #e5e9ee
$background-dark-color = #303133
