/* d2-classic */
body[data-admin-theme='d2-classic']
  .layout-wrapper > .layout-main > .layout-content > .page-container
    width calc(100% - 20px)
    &.card
      background #fff
      border-color #cfd7e5
      >
        .header
        .center-wapper > .aside
        .footer
          border-color #cfd7e5
    &.ghost >
      .header
      .footer
        background #fff
        border-color #cfd7e5

/* dark */
body[data-admin-theme='dark']
  .layout-wrapper > .layout-main > .layout-content > .page-container
    width calc(100% - 20px)
    &.card
      background #252423
      border-color #000
      >
        .header
        .center-wapper > .aside
        .footer
          border-color #000
    &.ghost >
      .header
      .footer
        background #252423
        border-color #000
