/* d2-classic */
body[data-admin-theme='d2-classic']
.admin-theme--d2-classic.layout-wrapper
  color #303133
  background #ecf1f6
  > .layout-main
    > .layout-header
      padding-right 20px
    > .tabs-wrapper
      margin-right 20px
.admin-theme--d2-classic.layout-wrapper
  &.flat > .layout-aside > .layout-nav
    border-color #cfd7e5
    background #ecf1f6

/* dark */
body[data-admin-theme='dark']
.admin-theme--dark.layout-wrapper
  color #F6F4F2
  background #1e1d1c
  > .layout-main
    > .layout-header
      padding-right 20px
    > .tabs-wrapper
      margin-right 20px

  .el-divider
    background-color #000
  .el-calendar
    background-color #262423
    .el-calendar__title
      color #F6F4F2
.admin-theme--dark.layout-wrapper
  &.flat > .layout-aside > .layout-nav
    border-color #000
    background #1e1d1c
